body {
    font-family: sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding-top: 300px;
}
body h1 {
    color: #ff0606;
}
body h2 {
    color: #fffb00;
}
body h3 {
    color: #00ff00ff;
}